# 의존성 디렉토리
node_modules/
.pnp/
.pnp.js

# 환경 설정 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 캐시 및 빌드 디렉토리
.cache/
.next/
.nuxt/
dist/
build/
out/

# 코드 편집기 설정
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# 테스트 관련
coverage/

# IoT 및 라즈베리파이 관련
*.img
*.bin
*.hex
*.elf
temp/
*.temp

# 기타
.vercel
.netlify

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# mqtt 
mqtt/data/
mqtt/log/

# serverless
.serverless/

# certificates
**/*.pem
**/*.crt
**/*.key
**/*.csr
**/*.p12
**/*.pfx
**/*.p12